@using UsersApp.ViewModels;
@model VerifyEmailViewModel;

@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<link rel="stylesheet" href="/css/VerifyEmail.css" />

<div class="content-Wrapper">
    <div class="content1">
        <div class="sidebar">
            <img src="/Assets/LoginSignup/SidebarLogo.png" alt="Sidebar Logo" />
        </div>
        <div class="fill">
            <div class="account-container">
                <div class="account-box">
                    <div class="log1"><h1>Forgot Password</h1></div>
                    <form asp-action="VerifyEmail" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="userinput">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="email-form" placeholder="Please enter your email address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <input type="submit" value="Verify" class="submit-button" />
                        <div class="text-center mt-2">
                            <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}