@{
    ViewData["Title"] = "Flashcard Maker Ai";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Global/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Flash_Card_Maker_Ai.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
        <form method="post" action="/FlashCards/GenerateFlashcard">
            <div class="maker-content">
                <div class="left-side">
                    <div class="title">
                        <p>AI Flashcard Maker</p>
                    </div>
                    <div class="flash-card-name">
                        <input type="text" name="topic" placeholder="Enter your flashcard topic here" required />
                    </div>
                    <div class="flash-card-description">
                        <select name="gradeLevel" required>
                            <option value="" disabled selected>Select your grade level</option>
                            <option value="Elementary">Elementary</option>
                            <option value="Highschool">Highschool</option>
                            <option value="College">College</option>
                        </select>
                    </div>
                    <div class="flash-card-items">
                        <input type="number" name="items" placeholder="Enter number of items" min="1" max="50" required />
                    </div>
                    <div class="some-texts-container">
                        <div class="some-texts">
                            Boost your study sessions with BrainBurst’s AI Flashcard Maker. Quickly turn your notes into smart flashcards that enhance learning and retention.
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="generate-button">
                        <button type="submit">Generate</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>