@{
    ViewData["Title"] = "Join Quiz";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Global/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Join.css" asp-append-version="true" />
</head>
<body>
    <div class="container1">
        <h1>Join Quiz</h1>
        <form method="post" action="/QuizCreation/JoinQuiz">
            <div class="form-group">
                <label for="gameCode">Enter Game Code:</label>
                <input type="text" id="gameCode" name="gameCode" maxlength="6" required />
            </div>
            <button type="submit" class="join-quiz">Join Quiz</button>
        </form>
    </div>
</body>
</html>