@{
    ViewData["Title"] = "Join Quiz";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Global/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Join.css" asp-append-version="true" />
</head>
<body>
    <div class="container1">
        <img src="/Assets/JoinPage/JoinLogo.png">
        <form method="post" action="/QuizCreation/JoinQuiz" class="sd">
            <input type="text" id="gameCode" name="gameCode" maxlength="6" placeholder="Enter Code to Join Quiz!" required />
            <button type="submit" class="join-quiz">Join Quiz</button> 
        </form>
    </div>
</body>
</html>