@{
    ViewData["Title"] = "Terms and Conditions";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Global/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Terms.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap" rel="stylesheet">
</head>
<body>
    <div class="terms-contents">
        <div class="terms-title">
            <div class="terms-title-text">
                Terms of Service
            </div>
        </div>
        <div class="terms-text-container">
            <div class="terms-text">
                <div class="terms-last-updated">
                    Last Update: November 14, 2024
                </div>
                <div class="terms-intro">
                    <b>Welcome to BrainBurst!</b> <br>
                    BrainBurst is a website developed by the T.R.O.Y team for school purposes.
                    By accessing or using our website, you agree to comply with the following terms and conditions. 
                    Please read them carefully.
                </div>
                <div class="terms-list">
                    <b>1. Acceptance of Terms:</b> By using BrainBurst, you agree to these Terms of Service and all relevant laws and regulations. If you do not agree with any parts of these terms, please refrain from using our website.<br>
                    <b>2. Service Overview:</b> BrainBurst, developed by the T.R.O.Y team, offers users the ability to create, generate, and access, quizzes and flashcards, either manually or with AI assistance. Users can only create and use flashcards for their personal use and cannot share them with others. These services may change without prior notice.<br />
                    <b>3. User Accounts: </b>To access certain features of BrainBurst, you may be required to create an account. You are responsible for safeguarding your account information and for any activities under your account.<br />
                    <b>4. User-Generated Content:</b> By submitting content to BrainBurst, such as quizzes or flashcards, you grant us non-exclusive, global, royalty-free license to use, modify, reproduce, and distribute content. You retain ownership of your intellectual property and rights in the content you submit.<br />
                    <b>5. Prohibited Activities: </b>You agree not to:<br />
                        <ul>
                            <li>Use the website for illegal or unauthorized purposes.</li>
                            <li>Upload or transmit harmful or malicious code.</li>
                            <li>Disrupt or interfere with the website’s functionality.</li>
                            <li>Impersonate any individual or entity or misrepresent your affiliation with anyone.</li>
                        </ul>
                    <b>6. Intellectual Property: </b>All content and materials of BrainBurst, including text, graphics, logos, and software, are owned by BrainBurst or its licensors and are protected by copyright, trademark, and other intellectual property laws.<br />
                    <b>7. Privacy Policy:</b> Your use of BrainBurst is also governed by our Privacy Policy, available [here]. By using our website, you consent to the collection and use of your data as outline in the privacy policy.<br />
                    <b>8. Limitation of Liability: </b>8BrainBurst is not liable for any direct, indirect, incidental, special, or consequential damages resulting from the use, or inability to use our services, even if we have been informed of the potential for such damages.<br />
                    <b>9. Update to Terms: </b>We reserve the right to update or modify these Terms of Service at any time. Any changes wil immediately take effect upon posting on our website. Continued use of BrainBurst after changes constitutes your acceptance of the new terms.<br />
                    <b>10. Governing Law: </b>These terms wil be governed by and construed according to the laws of Philippines, without regard to its conflict of law principles.<br />
                    <b>11. Contact Us: </b>If you have any questions about these Terms of Service, please contact us at [Email].
                </div>
            </div>
        </div>
    </div>
</body>
</html>