html,body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.hero-container{
    width: 100%;

}
.heroimage{
    background-image: url('../Assets/Homepage/HeroImg.png');
    background-size: cover;
    width: 100%;
    height:650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Hero-text{
    color: #FFFDC1;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 5;
    -webkit-text-stroke-color: #5C4C20;
    font-family: "Rum Raisin", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    text-shadow: 
        5px 5px 0px #5C4C20,   /* Right Down */
        -5px -5px 0px #5C4C20,  /* Left Up */
        -5px 5px 0px #5C4C20,   /* Left Down */
        5px -5px 0px #5C4C20,   /* Right Up */
        5px 0px 0px #5C4C20,    /* Right */
        -5px 0px 0px #5C4C20,   /* Left */
        0px 5px 0px #5C4C20,    /* Down */
        0px -5px 0px #5C4C20,   /* Up */
        6px 6px 0px #5C4C20,    /* Right Down - extra */
        -6px -6px 0px #5C4C20,  /* Left Up - extra */
        -6px 6px 0px #5C4C20,   /* Left Down - extra */
        6px -6px 0px #5C4C20,   /* Right Up - extra */
        6px 0px 0px #5C4C20,    /* Right - extra */
        -6px 0px 0px #5C4C20,   /* Left - extra */
        0px 6px 0px #5C4C20,    /* Down - extra */
        0px -6px 0px #5C4C20;   /* Up - extra */
}

.Hero-text1{
    color: #F5D059;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 3;
    -webkit-text-stroke-color: #5C4C20;
    font-family: "Rum Raisin", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    text-shadow: 
        2px 2px 0px #5C4C20,   /* Right Down */
        -2px -2px 0px #5C4C20,  /* Left Up */
        -2px 2px 0px #5C4C20,   /* Left Down */
        2px -2px 0px #5C4C20,   /* Right Up */
        2px 0px 0px #5C4C20,    /* Right */
        -2px 0px 0px #5C4C20,   /* Left */
        0px 2px 0px #5C4C20,    /* Down */
        0px -2px 0px #5C4C20,   /* Up */
        3px 3px 0px #5C4C20,    /* Right Down - extra */
        -3px -3px 0px #5C4C20,  /* Left Up - extra */
        -3px 3px 0px #5C4C20,   /* Left Down - extra */
        3px -3px 0px #5C4C20,   /* Right Up - extra */
        3px 0px 0px #5C4C20,    /* Right - extra */
        -3px 0px 0px #5C4C20,   /* Left - extra */
        0px 3px 0px #5C4C20,    /* Down - extra */
        0px -3px 0px #5C4C20;   /* Up - extra */
}

.join{
    border-radius: 15px;
    border: 1px solid var(--black-100, #000);
    background: #FFFDC1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 60px;
    flex-shrink: 0;
    color: #2B550E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 5;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.00);
    font-family: "Rum Raisin", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    background-image: url('../Assets/Homepage/b1.png');
    background-size: cover;
    width: 100%;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;

}

.con h1{
    color: #2B550E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: rgba(230, 205, 181, 0.04);
    font-family: "Rum Raisin", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(-20px);
}

.char{
    display: flex;
    align-items: baseline;
    margin-bottom: -50px;
    transform: translateX(70px);
    height: 120%;
}
.char1{
    display: flex;
    align-items: baseline;
    height: 100%;
}
.c{
    background: #9FDB5D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 568px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    gap: 8%;
}

.c1{
    background: #9FDB5D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 568px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center     ;
    gap: 6%;
}

.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.left1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-content{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Right-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Right-content2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Different position */
}

.title{
    color: #2B550E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: rgba(230, 205, 181, 0.04);
    font-family: "Rum Raisin", sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(40px);
}

.title1{
        color: #2B550E;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke-width: 2;
        -webkit-text-stroke-color: rgba(230, 205, 181, 0.04);
        font-family: "Rum Raisin", sans-serif;
        font-size: 65px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transform: translateX(40px);
}

.title2{
    color: #2B550E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: rgba(230, 205, 181, 0.04);
    font-family: "Rum Raisin", sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(210px);
    margin-right: 50px;
}

.description{
    color: #FFFEEB;
    text-shadow:#7A7312;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #7A7312;
    font-family: "Rum Raisin", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(40px);
    text-shadow: 
        3px 3px 0px #5C4C20,   /* Right Down */
        -3px -3px 0px #5C4C20,  /* Left Up */
        -3px 3px 0px #5C4C20,   /* Left Down */
        3px -3px 0px #5C4C20,   /* Right Up */
        3px 0px 0px #5C4C20,    /* Right */
        -3px 0px 0px #5C4C20,   /* Left */
        0px 3px 0px #5C4C20,    /* Down */
        0px -3px 0px #5C4C20;   /* Up */
}

.description1{
    color: #FFFEEB;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #7A7312;
    font-family: "Rum Raisin", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
    text-align: center;
    text-shadow: 
        3px 3px 0px #5C4C20,   /* Right Down */
        -3px -3px 0px #5C4C20,  /* Left Up */
        -3px 3px 0px #5C4C20,   /* Left Down */
        3px -3px 0px #5C4C20,   /* Right Up */
        3px 0px 0px #5C4C20,    /* Right */
        -3px 0px 0px #5C4C20,   /* Left */
        0px 3px 0px #5C4C20,    /* Down */
        0px -3px 0px #5C4C20;   /* Up */
}

.description3{
    color: #FFFEEB;
    text-shadow:#7A7312;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #7A7312;
    font-family: "Rum Raisin", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(40px);
    text-shadow: 
        3px 3px 0px #5C4C20,   /* Right Down */
        -3px -3px 0px #5C4C20,  /* Left Up */
        -3px 3px 0px #5C4C20,   /* Left Down */
        3px -3px 0px #5C4C20,   /* Right Up */
        3px 0px 0px #5C4C20,    /* Right */
        -3px 0px 0px #5C4C20,   /* Left */
        0px 3px 0px #5C4C20,    /* Down */
        0px -3px 0px #5C4C20;   /* Up */
    text-align: right;
    transform: translateX(-55px);
}

.lets-go{
    color: #2B550E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 5;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.00);
    font-family: "Rum Raisin", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 250px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #5C4C20; /* Set brown border */
    background-clip: padding-box; /* Ensure background doesn't overlap border */
    background: #F6D97B;
    transform: translateX(-40px);
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
}

.lets-go:hover {
    background-color: #E6C34A; /* New color on hover */
    border-color: #5C4C20; /* Ensure border color remains brown on hover */
}

.lets-go2{
    color: #2B550E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 5;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.00);
    font-family: "Rum Raisin", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 250px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #5C4C20; /* Set brown border */
    background-clip: padding-box; /* Ensure background doesn't overlap border */
    background: #F6D97B;
    transform: translateX(40px);
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
}

.lets-go2:hover {
    background-color: #E6C34A; /* New color on hover */
    border-color: #5C4C20; /* Ensure border color remains brown on hover */
}

.lets-go:disabled,
.lets-go2:disabled {
    cursor: not-allowed;
    background-color: #F6D97B; /* Keep the original background color */
    border-color: #5C4C20; /* Keep the original border color */
}

.lets-go:disabled:hover,
.lets-go2:disabled:hover {
    background-color: #F6D97B; /* Prevent color change on hover */
    border-color: #5C4C20; /* Prevent border color change on hover */
}

.image{
    background-image: url('../Assets/Homepage/BRAINBURST.png');
    width: 595px;
    height: 376px;
    flex-shrink: 0;
}
.right{
    width: 50%;
    display: flex;
    align-items: end;
}

.right1{
    width: 50%;
}
.ghost1{
    background-image: url('../Assets/Homepage/b1.png');
    width: 100%;
    height: 198px;
    flex-shrink: 0;
    opacity: 0.7;
}

.image2{
    background-image: url('../Assets/Homepage/image2.png');
    width: 600px;
    height: 380px;
    flex-shrink: 0;
}

.review-section-container{
    background: #9FDB5D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}
.preview-right-container.preview-left-container{
 width: 10%;
 height: 100%;
}

.review-container{
    border-radius: 20px;
    background: #89B752;
    width: 530px;
    height: 404px;
    flex-shrink: 0;
    position: relative;
    border: 7px solid #2B550E;
}

.review-container .circle {
    position: absolute; /* Use absolute positioning */
    transform: translate(40px, 15px);
    border: none; /* Remove the border */
}

.review-container .rectangle {
    position: absolute; /* Use absolute positioning */
    transform: translate(200px, 30px); 
    width: 276px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFDC1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
}

.review-container .rectangle span:first-child {
    font-weight: 400; /* Style for username */
    font-family: "Rum Raisin", sans-serif;
    font-size: 18px;
}

.review-container .rectangle span:last-child {
    font-weight: normal; /* Style for user role */
    color:#2B550E;
    font-weight: 800;
    font-family: "Rum Raisin", sans-serif;
    font-size: 20px;
}

.review-container .star {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin: 0 2px; /* Use margin to reduce space between stars */
    transform: translate(70px, 110px); 
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-container .large-rectangle {
    width: 441.715px;
    height: 181.166px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFDC1;
    position: absolute; /* Use absolute positioning */
    transform: translate(43px, 130px); /* Adjust the position as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
    padding: 10px; /* Add padding for better text spacing */
}

.review-container .large-rectangle span {
    font-family: "Rum Raisin", sans-serif;
    font-size: 20px;
    color: #2B550E;
    width: 100%; /* Ensure the text takes the full width */
    height: 100%; /* Ensure the text takes the full height */
    display: flex;
    justify-content: center; /* Center align text horizontally */
    align-items: center; /* Center align text vertically */
}

.middle-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preview-left, .preview-right {
    width: 132px;
    height: 239px;
    all: unset;
    cursor: pointer; /* Add cursor pointer */
}

.preview-left:hover img, .preview-right:hover img {
    opacity: 0.8; /* Add hover effect */
    filter: brightness(0) invert(1); /* Change color on hover */
}

.preview-left:hover, .preview-right:hover {
    opacity: 0.8; /* Add hover effect */
    color: #FFFDC1; /* Change color on hover */
}

.review-wrapper{
    display: flex;
    flex-direction: row;
    transition: transform 0.5s;
    gap: 6%;
    width: 90%;
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 5%;
    width: 50%;
    height: 100px;
    margin-left: 20%;
    background-image: url('../Assets/Homepage/button-background.png'); /* Ensure the path is correct */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.c3{
    background: #9FDB5D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 568px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 8%;
}

.feedback-button {
    color: #2B550E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 5;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.00);
    font-family: "Rum Raisin", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 225px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 3px solid #5C4C20; /* Set brown border */
    background-clip: padding-box; /* Ensure background doesn't overlap border */
    background: #FFFDC1;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
}

.feedback-button:hover {
    background-color: #E6C34A; /* New color on hover */
    border-color: #5C4C20; /* Ensure border color remains brown on hover */
}

.feedback-section {
    background-image: url('../Assets/Homepage/b1.png'); /* Ensure the path is correct */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    padding: 20px 0;
    height: 360px; /* Adjust height to ensure the image is properly displayed */
}