/* Hide elements that should not be printed */
.SideBar, .print-button, header, footer, .filter-button {
    display: none;
}

/* Ensure the content is styled properly for printing */
.Content {
    width: 100%;
    margin: 0;
    padding: 5px;
}

/* Remove borders from printed content */
* {
    border: none !important;
}

/* Adjust font sizes for printing */
.quiz-report-titles, .flashcards-report-titles {
    font-size: 1.5rem; /* Adjusted font size */
}

.quiz-report-description, .flashcards-report-description {
    font-size: 1rem; /* Adjusted font size */
}

.quiz-box-reports, .flashcards-box-reports {
    font-size: 1rem; /* Adjusted font size */
}

.quiz-box-pie-chart, .flashcards-box-pie-chart {
    padding: 5% 2%; /* Adjusted padding */
}

.quiz-report-note, .flashcards-report-note {
    font-size: 0.9rem; /* Adjusted font size */
}