/* Hide elements that should not be printed */
.SideBar, .print-button, header, footer, .filter-button, .admin-panel-title {
    display: none;
}

/* Ensure the content is styled properly for printing */
.Content {
    width: 100%;
    margin: 0;
    padding: 5px;
}

/* Remove borders from printed content */
* {
    border: none !important;
}

/* Adjust font sizes for printing */
.quiz-report-titles, .flashcards-report-titles {
    font-size: 1.5rem;
}

.quiz-report-description, .flashcards-report-description {
    font-size: 1rem;
}

.quiz-box-reports, .flashcards-box-reports {
    font-size: 1rem;
}

.quiz-box-pie-chart, .flashcards-box-pie-chart {
    padding: 5% 2%;
}

.quiz-report-note, .flashcards-report-note {
    font-size: 0.9rem;
}

/* Additional styles for print */
body {
    background-color: white;
    color: black;
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

p {
    margin-bottom: 10px;
}

.container {
    padding: 10px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    text-align: left;
}

