/* reports.css */

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    align-items: flex-start;
}
.Content {
    height: auto;
    padding: 4%;
}

.print-button {
    background-color: #F5D059;
    width: 100px;
    height: 70px;
    font-size: 20px;
    border: 1px solid black;
    margin-top: 50px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for hover effects */
}

.print-button:hover {
    background-color: #E5C049; /* Change background color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.report-titles {
    font-family: Rum Raisin;
    font-size: 2rem;
    color: #FFFDC1;
    text-shadow: 2px 2px 0px #5C4C20, -2px -2px 0px #5C4C20, -2px 2px 0px #5C4C20, 2px -2px 0px #5C4C20, 
    2px 0px 0px #5C4C20, -2px 0px 0px #5C4C20, 0px 2px 0px #5C4C20, 0px -2px 0px #5C4C20, 
    3px 3px 0px #5C4C20, -3px -3px 0px #5C4C20, -3px 3px 0px #5C4C20, 3px -3px 0px #5C4C20, 
    3px 0px 0px #5C4C20, -3px 0px 0px #5C4C20, 0px 3px 0px #5C4C20, 0px -3px 0px #5C4C20,
    0 0 10px rgba(0, 0, 0, 1);
    font-weight: 300;
    margin-bottom: 1.5%;
}

.report-description {
    font-family: Rum Raisin;
    color: #2B550E;
    font-size: 1.3rem;
}

.top-chart-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Left is 1 part, right is 3 parts */
    gap: 40px; 
    align-items: center;
    margin-top: 3%;
}


.box-pie-chart {
    border: 2px solid #2B550E;
    border-radius: 20px;
    padding: 10% 5%;
}
 
.report-note {
    font-family: Rum Raisin;
    margin-top: 2%;
    text-align: center;
    color: #2B550E;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #00000036;
}

.box-reports {
    margin-top: -25px;
    background-color:#9FDB5D;
    border: 2px solid #2B550E;
    height: 220px;
    border-radius: 20px;
    width: auto;
    box-sizing: border-box;
    padding: 5%;
    font-family: Rum Raisin;
    color: #2B550E;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#margin-top-text {
    margin-top: 5%;
}

.mid-chart-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Left is 1 part, right is 1 part */
    gap: 40px; 
    align-items: center;
    margin-top: 2%;
    align-items: center;
}

.left-box-report {
    background-color: #9FDB5D;
    color: #2B550E;
    font-family: Rum Raisin;
    padding: 5%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quizzes-average {
    margin-bottom: 30px;
}

.quizzes-average:last-child {
    margin-bottom: 0;
}

.quizzes-average h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom:7%;
}

.quizzes-average p {
    font-size: 1.8rem;
}

.right-box-report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Rum Raisin;
    color: #2B550E;
    background-color: #9FDB5D;
    padding: 3% 5%;
    border-radius: 20px;
    border: 2px solid #2B550E;
}

.left-right-box-report {
    text-align: center;
}

.population-report{
    margin-bottom: 30px;
}
.population-report h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom:7%;
}

#myPieChart2, #myPieChart3, #myPieChart4 {
    display: block;
    margin: 0 auto;
    width: 300px!important;
    height:300px!important;
}

.population-report p {
    font-size: 1.8rem;
}

.role-description {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 4%;
}

.bottom-chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.first-chart-bottom {
    padding: 8% 5%;
    background-color: #9FDB5D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Rum Raisin;
    color: #2B550E;
    border-radius: 20px;
    border: 2px solid #2B550E;
    min-height: 200px;
}

.average-content-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.average-content-rating p {
    font-size: 1.2rem;
    margin-right: 20px;
}

.second-chart-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-chart-bottom {
    border: 2px solid #2B550E;
    border-radius: 20px;
    padding: 5%;
}

.second-chart-bottom p, .third-chart-bottom p {
    font-family: Rum Raisin;
    color: #2B550E;
    margin-top: 3%;
    font-size: 1.2rem;
    text-align: center;
}

.feedback-container {
    margin-top: 5%;
}
.feedback-report {
    width: 95%;
    padding: 2.5% 2%;
    background-color: #9FDB5D;
    margin-bottom: 3%;
    font-family: Rum Raisin;
    color: #2B550E;
    border:2px solid #2B550E;
    border-radius: 20px;
    font-size:1.2rem;
}

.feedback-report:last-child {
    margin-bottom: 0;
}