.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.question{
    border-radius: 20px;
    border: 1px solid #000;
    background: #FFFDC1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 985.438px;
    height: 300px;
    flex-shrink: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top h1{
    color: #2B550E;
    font-family: "Rum Raisin", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonss{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.delete-question{
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFFDC1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width:39.6px ;
    height: 35.6px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.edit-question{
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFFDC1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width:96px ;
    height: 35.6px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    color: #2B550E;
    font-family: "Rum Raisin", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.save-question{
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFFDC1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width:110px ;
    height: 35.6px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    color: #2B550E;
    font-family: "Rum Raisin", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.timer-input{
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFFDC1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width:200px ;
    height: 35.6px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    color: #2B550E;
    font-family: "Rum Raisin", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5%;
    padding-right: 5%;
}

.questions-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.question-text{
    all: unset;
    width: 70%;
    color: #2B550E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Rum Raisin", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    resize: none;
}

.question-text:focus{
    all: unset;
    width: 70%;
    color: #2B550E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Rum Raisin", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    resize: none;
}



.choices{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 689px ;
    margin-left: 10%;
}

.choice{
    border-radius: 10px;
    border: 1px solid #000;
    background: #F5D059;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200.055px;
    height: 30px;
    color: #2B550E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Rum Raisin", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.finalization{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 20px;
    justify-content: end;
}

.add{
    border-radius: 20px;
    border: 1px solid #000;
    background: #F5D059;
    width: 110%;
    height: 300px;
    flex-shrink: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 20px;
}

.lagayan{
    width: 1100px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 2%;
    margin-bottom: 2%;
}   

.game-code{
height: 100%;
width: 40%;
border-radius: 10px;
border: 1px solid #000;
background: #FFFDC1;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.game-code h2{
    color: #FFFEEB;
    text-shadow:#7A7312;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #7A7312;
    font-family: "Rum Raisin", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 
        2px 2px 0px #5C4C20,   /* Right Down */
        -2px -2px 0px #5C4C20,  /* Left Up */
        -2px 2px 0px #5C4C20,   /* Left Down */
        2px -2px 0px #5C4C20,   /* Right Up */
        2px 0px 0px #5C4C20,    /* Right */
        -2px 0px 0px #5C4C20,   /* Left */
        0px 2px 0px #5C4C20,    /* Down */
        0px -2px 0px #5C4C20;   /* Up */
    margin: 0;;
}
.details{
    height: 100%;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #000;
    background: #F5D059;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display:flex ;
    flex-direction: row;
    align-items: center;
}
.left{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#copy-game-code-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url(/Assets/QuizCreation/Copy.png);
}
.right{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h1{
    color: #FFFEEB;
    text-shadow:#7A7312;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #7A7312;
    font-family: "Rum Raisin", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 
        2px 2px 0px #5C4C20,   /* Right Down */
        -2px -2px 0px #5C4C20,  /* Left Up */
        -2px 2px 0px #5C4C20,   /* Left Down */
        2px -2px 0px #5C4C20,   /* Right Up */
        2px 0px 0px #5C4C20,    /* Right */
        -2px 0px 0px #5C4C20,   /* Left */
        0px 2px 0px #5C4C20,    /* Down */
        0px -2px 0px #5C4C20;   /* Up */
    margin: 0;;
}

.topic,.items{
    width: 80%;
    height: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.buttons{
    width: 80%;
    height: 38%; 
    display: flex;
    flex-direction: row;
}

.items h1{
    color: #2B550E;
    font-family: "Rum Raisin", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items h2{
    color: #FFFDC1;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #5C4C20;
    font-family: "Rum Raisin", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 
    1px 1px 0px #5C4C20,   /* Right Down */
    -1px -1px 0px #5C4C20,  /* Left Up */
    -1px 1px 0px #5C4C20,   /* Left Down */
    1px -1px 0px #5C4C20,   /* Right Up */
    1px 0px 0px #5C4C20,    /* Right */
    -1px 0px 0px #5C4C20,   /* Left */
    0px 1px 0px #5C4C20,    /* Down */
    0px -1px 0px #5C4C20;   /* Up */
}

.buttons{
    display: flex;
    gap: 2%;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;

}

.quiz-item,.save-quiz{
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFFDC1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 40%;
    height: 50%;
    color: #2B550E;
    font-family: "Rum Raisin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 2%;
    display: flex;
    justify-content: center;
    align-items: center;;
}
.sas{
    width: 30px;
}

