@model UsersApp.ViewModels.QuizDetailsViewModel

@{
    ViewData["Title"] = "Quiz Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Global/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ViewQuizDetails.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Toggle edit mode
            $(document).on('click', '.edit-question', function() {
                var questionDiv = $(this).closest('.question');
                questionDiv.find('.question-text, .choice, .timer-input').prop('disabled', false);
                questionDiv.find('.edit-question').hide();
                questionDiv.find('.save-question').show();
            });

            // Save question
            $(document).on('click', '.save-question', function() {
                var questionDiv = $(this).closest('.question');
                questionDiv.find('.question-text, .choice, .timer-input').prop('disabled', true);
                questionDiv.find('.edit-question').show();
                questionDiv.find('.save-question').hide();
            });

            // Add new question
            $('#add-question').click(function() {
                var questionCount = $('.question').length + 1;
                var newQuestion = `
                    <div class="question">
                        <h2>Question ${questionCount}</h2>
                        <textarea class="question-text" name="Questions[${questionCount}]" placeholder="Enter question text..." disabled></textarea>
                        <div class="choices">
                            <input type="text" class="choice" name="Choices[${questionCount}][0]" placeholder="Choice 1" disabled />
                            <input type="text" class="choice" name="Choices[${questionCount}][1]" placeholder="Choice 2" disabled />
                            <input type="text" class="choice" name="Choices[${questionCount}][2]" placeholder="Choice 3" disabled />
                            <input type="text" class="choice" name="Choices[${questionCount}][3]" placeholder="Choice 4" disabled />
                        </div>
                        <div class="timer-container">
                            <input type="number" class="timer-input" name="Timers[${questionCount}]" placeholder="Set timer (minutes)" disabled />
                        </div>
                        <button type="button" class="edit-question">Edit Question</button>
                        <button type="button" class="save-question" style="display:none;">Save Question</button>
                        <button type="button" class="delete-question">Delete Question</button>
                    </div>
                `;
                $('.questions-container').append(newQuestion);
            });

            // Delete question
            $(document).on('click', '.delete-question', function() {
                $(this).closest('.question').remove();
            });
        });
    </script>
</head>
<body>
    <div class="container1">
        <h1>Quiz Details</h1>
        <form method="post" action="/QuizCreation/UpdateQuiz">
            <div class="questions-container">
                @foreach (var question in Model.Questions)
                {
                    <div class="question">
                        <h2>Question @question.Key</h2>
                        <textarea class="question-text" name="Questions[@question.Key]" disabled>@question.Value</textarea>
                        <div class="choices">
                            @foreach (var choice in Model.Choices[question.Key])
                            {
                                <input type="text" class="choice" name="Choices[@question.Key][]" value="@choice" disabled />
                            }
                        </div>
                        <div class="timer-container">
                            <input type="number" class="timer-input" name="Timers[@question.Key]" placeholder="Set timer (minutes)" disabled />
                        </div>
                        <button type="button" class="edit-question">Edit Question</button>
                        <button type="button" class="save-question" style="display:none;">Save Question</button>
                        <button type="button" class="delete-question">Delete Question</button>
                    </div>
                }
            </div>
            <button type="button" id="add-question">Add Question</button>
            <button type="submit" class="save-quiz">Save Quiz</button>
        </form>
    </div>
</body>
</html>