@model IEnumerable<UsersApp.Models.Quiz>

@{
    ViewData["Title"] = "View Quizzes";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Global/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ViewQuizzes.css" asp-append-version="true" />
</head>
<body>
    <div class="container1">
        <h1>Quizzes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Grade Level</th>
                    <th>Topic</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var quiz in Model)
                {
                    <tr>
                        <td>@quiz.GradeLevel</td>
                        <td>@quiz.Topic</td>
                        <td>
                            <a href="@Url.Action("ViewQuizDetails", "QuizCreation", new { id = quiz.Id })">View Details</a>
                            <a href="@Url.Action("TakeQuiz", "QuizCreation", new { id = quiz.Id })">Take Quiz</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>