@model IEnumerable<UsersApp.Models.Quiz>

@{
    ViewData["Title"] = "View Quizzes";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Global/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ViewQuizzes.css" asp-append-version="true" />
</head>
<body>
    <div class="container1">
        <h1>Quizzes</h1>
        <div class="quiz-library">
            @foreach (var quiz in Model)
            {
            <div class="quiz-item">
                <h2>@quiz.GradeLevel - @quiz.Topic</h2>
                <div class="quiz-actions">
                <a href="@Url.Action("ViewQuizDetails", "QuizCreation", new { id = quiz.Id })">View Details</a>
                <a href="@Url.Action("TakeQuiz", "QuizCreation", new { id = quiz.Id })">Take Quiz</a>
                </div>
            </div>
            }
        </div>
    </div>
</body>
</html>