@model UsersApp.ViewModels.QuizScoresViewModel

@{
    ViewData["Title"] = "Quiz Scores";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Link to the CSS file -->
<link rel="stylesheet" href="~/wwwroot/css/site.css" />
<style>
</style>
<div class="printvis">
                <button onclick="history.back()" class="back-button"><</button>
            <style>
                .back-button{
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 130px;
                    left: 20px;
                    border: 1px solid black;
                    border-radius: 20px;
                    background-color: #F5D059;
                    align-items: center;
                    font-weight: 1000;
                    cursor: pointer;
                }
                .back-button :hover{
                    opacity: 0.1;

                }
            </style>
<h1 class="quiz-topic-title">Scores for @Model.Topic</h1>

@if (Model.Scores != null && Model.Scores.Any())
    {
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Submission Date</th>
        </tr>
    </thead>
    <tbody>

            @foreach (var score in Model.Scores)
            {
                <tr>
                    <td>@score.UserName</td>
                    <td>@score.Score</td>
                    <td>@score.SubmissionDate.ToString("g")</td>
                </tr>
            }

    </tbody>
</table>

<button onclick="window.print()" class="printbutton" style="margin-bottom: 2%;">Print</button>
        }
        else
        {
            <h1 style="display: flex; justify-content: center;"> No one has taken taken this quiz yet.</h1>
        }
</div>

